<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @trivium.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @trivium.answer %>
</p>

<p>
  <b>Coolness:</b>
  <%= @trivium.coolness %>
</p>


<%= link_to 'Edit', edit_trivium_path(@trivium) %> |
<%= link_to 'Back', trivia_path %>
